@page "/deviceinfo"
@rendermode HybridRenderMode.InteractiveAuto

<PageTitle>Device Info</PageTitle>

<h1>Device Info</h1>

<p>This component demonstrates access to device information.</p>

<p>.NET OS Description: @RuntimeInformation.OSDescription</p>
