@page "/edit/{id:guid?}"
@rendermode HybridRenderMode.InteractiveAuto

<PageTitle>Edit Note</PageTitle>

<h1>Edit Note</h1>

<p><em>Render Mode: @RendererInfo.Name</em></p>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount" disabled="@(!RendererInfo.IsInteractive)">Click me</button>

@code {
    [Parameter]
    public Guid? Id { get; set; }

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
